In [1]:
import numpy as np
import pandas as pd

# Simple Concatenation

## Series

In [7]:
ser1 = pd.Series(['A', 'B', 'C'], index = [1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index = [4, 4, 6])

In [20]:
pd.concat([ser1, ser2]) # Straightforward

1    A
2    B
3    C
4    D
4    E
6    F
dtype: object

In [11]:
# Also straightoforward for DataFrames
df1 = pd.DataFrame(np.random.rand(3,2), columns = ['A', 'B'])

In [12]:
df1

          A         B
0  0.579344  0.340485
1  0.091491  0.133076
2  0.090182  0.848032

In [31]:
df2 = pd.DataFrame(np.random.rand(3,2), columns = ['C', 'D'])

In [32]:
df2

          C         D
0  0.854049  0.743932
1  0.233571  0.793562
2  0.682210  0.531908

In [36]:
pd.concat([df1, df2])

          A         B         C         D
0  0.579344  0.340485       NaN       NaN
1  0.091491  0.133076       NaN       NaN
2  0.090182  0.848032       NaN       NaN
0       NaN       NaN  0.854049  0.743932
1       NaN       NaN  0.233571  0.793562
2       NaN       NaN  0.682210  0.531908

In [21]:
# By default, concatenation takes place row-wise

In [22]:
# Specify col

In [24]:
df3 = pd.DataFrame(np.random.rand(3,2), columns=['C' ,'D'])

In [25]:
df3

          C         D
0  0.827370  0.885622
1  0.540063  0.002234
2  0.507800  0.991768

In [30]:
pd.concat([df2, df3], axis = 1)

          A         B         C         D
0  0.833305  0.016356  0.827370  0.885622
1  0.010598  0.349241  0.540063  0.002234
2  0.930686  0.586487  0.507800  0.991768