In [1]:
import numpy as np
import pandas as pd

# How to represent 2D Data in 1D Series ?

## The bad way

In [5]:
index = [('California', 2000), ('California', 2010), 
         ('New York', 2000),('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]

populations = [33871648, 37253956,
                18976457, 19378102,
                20851820, 25145561]

popul = pd.Series(populations, index = index)

In [6]:
popul

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [8]:
# Straightforward slicing: 
popul[('California', 2010):('Texas',2000)]

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

### The downside of this bad way

In [15]:
# Suppose you want to select all values from 2010 - the only way is this:

popul[[i for i in popul.index if i[1] == 2010]]

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

### As you can see, pretty slow and munging

## The better way

In [16]:
mi = pd.MultiIndex.from_tuples(index)

In [17]:
mi

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

### Reindex the wrong way to the better way:

In [19]:
popul = popul.reindex(mi)

In [20]:
popul

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [21]:
# now the first two columns are the indices and the third column is the value. Blank column value
# indicates it is the same as above.

In [22]:
# Access all columns from 2010:
popul[:, 2010]

California    37253956
New York      19378102
Texas         25145561
dtype: int64

## The 'unstack' method to convert a multiindex into a conventionally indexed DataFrame

In [24]:
popul = popul.unstack()

In [25]:
popul

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [26]:
# opposite is stack:
popul = popul.stack()

In [27]:
popul

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

# Adding Extra Dimensions

In [30]:
popul_df = pd.DataFrame({'total': popul,
                        'under_18': [9267089, 9284094,
                                    4687374, 4318033,
                                        5906301, 6879014]})

In [31]:
popul_df

                    total  under_18
California 2000  33871648   9267089
           2010  37253956   9284094
New York   2000  18976457   4687374
           2010  19378102   4318033
Texas      2000  20851820   5906301
           2010  25145561   6879014

In [32]:
popul_df.unstack()

               total           under_18
                2000      2010     2000     2010
California  33871648  37253956  9267089  9284094
New York    18976457  19378102  4687374  4318033
Texas       20851820  25145561  5906301  6879014

## Make calculations

In [34]:
fraction_u18 = popul_df['under_18'] / popul_df['total']

In [35]:
fraction_u18

California  2000    0.273594
            2010    0.249211
New York    2000    0.247010
            2010    0.222831
Texas       2000    0.283251
            2010    0.273568
dtype: float64

In [36]:
fraction_u18.unstack()

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

# Methods of creating PD MultiIndex

In [37]:
method_one = pd.DataFrame(np.random.rand(4,2),
                         index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                         columns=['col1', 'col2'])

In [38]:
method_one

         col1      col2
a 1  0.684067  0.088901
  2  0.170245  0.840625
b 1  0.134904  0.809512
  2  0.489158  0.578705

In [39]:
data = {('California', 2000): 33871648,
('California', 2010): 37253956,
('Texas', 2000): 20851820,
('Texas', 2010): 25145561,
('New York', 2000): 18976457,
('New York', 2010): 19378102}

In [40]:
data

{('California', 2000): 33871648,
 ('California', 2010): 37253956,
 ('Texas', 2000): 20851820,
 ('Texas', 2010): 25145561,
 ('New York', 2000): 18976457,
 ('New York', 2010): 19378102}

In [41]:
# Pass a dictionay of tuples
method_two = pd.Series(data)

In [42]:
method_two

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [43]:
# Pass names to indices (also can be passed as a parameter to one of MultiIndex constructors)
method_two.index.names = ['state', 'year']

In [44]:
method_two

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

# MultiIndex for columns

In [47]:
ind = pd.MultiIndex.from_product([['2013', '2014'], ['1', '2']], names=['Year', 'Visit'])

In [48]:
ind

MultiIndex([('2013', '1'),
            ('2013', '2'),
            ('2014', '1'),
            ('2014', '2')],
           names=['Year', 'Visit'])

In [49]:
cols = pd.MultiIndex.from_product([['Bob', 'Misho', 'Vanio'], ['HR', 'Temp']],names = ['Subject', 'Type'] )

In [50]:
cols

MultiIndex([(  'Bob',   'HR'),
            (  'Bob', 'Temp'),
            ('Misho',   'HR'),
            ('Misho', 'Temp'),
            ('Vanio',   'HR'),
            ('Vanio', 'Temp')],
           names=['Subject', 'Type'])

In [55]:
#mock some data
data = np.round(np.random.rand(4,6), 1)

In [57]:
data[:, ::2] *= 10

In [58]:
data+=37

In [59]:
data

array([[47. , 37.4, 42. , 37.7, 45. , 37. ],
       [41. , 37.3, 42. , 37.1, 44. , 37.8],
       [39. , 37.1, 43. , 37.9, 46. , 37.9],
       [41. , 37.9, 38. , 37.2, 45. , 38. ]])

In [62]:
health_data = pd.DataFrame(data, index=ind, columns=cols)

In [63]:
health_data

Subject      Bob       Misho       Vanio
Type          HR  Temp    HR  Temp    HR  Temp
Year Visit
2013 1      47.0  37.4  42.0  37.7  45.0  37.0
     2      41.0  37.3  42.0  37.1  44.0  37.8
2014 1      39.0  37.1  43.0  37.9  46.0  37.9
     2      41.0  37.9  38.0  37.2  45.0  38.0

In [ ]:
# This is fundamentally a four-dimensional data!

# The best practical pattern

In [64]:
method_two

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

## Reset index (break the hierarchical indexing into intuitive indexing)

In [66]:
method_two_flat = method_two.reset_index(name = 'population') # optionally give a name

In [67]:
method_two_flat

        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2       Texas  2000    20851820
3       Texas  2010    25145561
4    New York  2000    18976457
5    New York  2010    19378102

In [68]:
# Now the interesting thing is that real world data often looks like the above data (method_two_flat)
# And it is very useful to build an index from the column names!

In [69]:
method_two_flat.set_index(['state', 'year'])

                 population
state      year
California 2000    33871648
           2010    37253956
Texas      2000    20851820
           2010    25145561
New York   2000    18976457
           2010    19378102