In [1]:
import numpy as np
import pandas as pd

In [26]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [27]:
monte

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [4]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [5]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [8]:
monte.str.extract('([A-Za-z]+)')

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Michael

In [9]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$') # Finds all names that start and end with a consonant

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [13]:
monte.str.get(3) # Gets the element in the 3rd index (of a string, tuple or list)

0    h
1    n
2    r
3    c
4    r
5    h
dtype: object

In [18]:
monte.str.slice(0,4) # slices substrings (args are start, stop, step)

0    Grah
1    John
2    Terr
3    Eric
4    Terr
5    Mich
dtype: object

In [19]:
monte.str.slice_replace(0, 3, "Mra") # replace each slice

0    Mraham Chapman
1       Mran Cleese
2     Mrary Gilliam
3         Mrac Idle
4       Mrary Jones
5     Mrahael Palin
dtype: object

In [24]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [25]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [29]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [30]:
full_monte = pd.DataFrame({'name': monte,
                           'info': ['B|C|D', 'B|D', 'A|C',
                                    'B|D', 'B|C', 'B|C|D']})
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

In [31]:
full_monte['info'].str.get_dummies()

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

In [32]:
!curl -O http://openrecipes.s3.amazonaws.com/recipeitems-latest.json.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    20  100    20    0     0     70      0 --:--:-- --:--:-- --:--:--    70

In [33]:
!gunzip recipeitems-latest.json.gz

gzip: recipeitems-latest.json.gz: No such file or directory